<!-- Equipment -->
<div id="equipment" class="section md-padding bg-grey">
  <!-- Container -->
  <div class="container">
      <!-- Row -->
      <div class="row">
          <!-- Section header -->
          <div class="section-header text-center">
              <h2 class="title">Featured Equipment</h2>
          </div>
          <!-- /Section header -->
          <!-- Equipment #1 Interfaces -->
          <div class="col-xs-6 equip">
              <!-- Equipment Image -->
              <img class="img-responsive" src="./img/equip1.jpg" alt="Clock">
              <!-- Equipment Overlay -->
              <div class="overlay"></div>
              <!-- Equipment Content -->
              <div class="equip-content">
                  <h3>Workstations</h3>
                  <!-- Equipment Link -->
                  <div class="equip-link">
                      <a data-toggle="modal" data-target="#workstation-modal" ><i class="fa fa-search"></i></a>
                  </div>
                  <!-- /Equipment Link -->
              </div>
              <!-- /Equipment Content -->
          </div>
          <!-- /Equipment #1 Interfaces -->
          <!-- Equipment #2 Operating System -->
          <div class="col-xs-6 equip">
              <!-- Equipment Image -->
              <img class="img-responsive" src="./img/equip2.jpg" alt="EDC">
              <!-- Equipment Overlay -->
              <div class="overlay"></div>
              <!-- Equipment Content -->
              <div class="equip-content">
                  <h3>Plugins/Pedals</h3>
                  <!-- Equipment Link -->
                  <div class="equip-link">
                      <a data-toggle="modal" data-target="plugins-modal" ><i class="fa fa-search"></i></a>
                  </div>
                  <!-- /Equipment Link -->
              </div>
              <!-- /Equipment Content -->
          </div>
          <!-- /Equipment #2 Operating System-->
          <!-- Equipment #3 Recording DAW -->
          <div class="col-xs-6 equip">
              <!-- Equipment Image -->
              <img class="img-responsive" src="./img/equip3.jpg" alt="Life Circle">
              <!-- Equipment Overlay -->
              <div class="overlay"></div>
              <!-- Equipment Content -->
              <div class="equip-content">
                  <h3>Gear</h3>
                  <!-- Equipment Link -->
                  <div class="equip-link">
                    <a data-toggle="modal" data-target="gear-modal" ><i class="fa fa-search"></i></a>
                  </div>
                  <!-- /Equipment Link -->
              </div>
              <!-- /Equipment Content -->
          </div>
          <!-- /Equipment #3 Recording DAW-->
          <!-- Equipment #4  Plug-in Effects and Packages -->
          <div class="col-xs-6 equip">
              <!-- Equipment Image -->
              <img class="img-responsive" src="./img/equip4.jpg" alt="Camera">
              <!-- Equipment Overlay -->
              <div class="overlay"></div>
              <!-- Equipment Content -->
              <div class="equip-content">
                  <h3>Microphones</h3>
                  <!-- Equipment Link -->
                  <div class="equip-link">
                      <a data-toggle="modal" data-target="microphones-modal"><i class="fa fa-search"></i></a>
                  </div>
                  <!-- /Equipment Link -->
              </div>
              <!-- /Equipment Content -->
          </div>
          <!-- /Equipment #4 Plug-in Effects and Packages-->                      
      </div>
      <!-- /Row -->
  </div>
  <!-- /Container -->
</div>
<!-- /Equipment -->

<!-- Modal -->
<div class="modal left fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <!-- Modal Dialog -->
  <div class="modal-dialog" role="document">
      <!-- Modal Content -->
      <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Interfaces/Mic Pres/Monitoring Speakers:</h4>
          </div>
          <!-- /Modal Header -->
          <!-- Modal Body -->
          <div class="modal-body">
              <ul>
                  <li>Focusrite: Scarlett 18i20 (X2)</li>
                  <li>SSL: Alpha VHD analog four channel</li>
                  <li>Universal Audio: Apollo Twin</li>
                  <li>Yamaha: HS8 Monitoring Speakers</li>
                  <li>Mackie: HR824 Monitoring Speakers</li>
                  <li>Rupert Neve: Portico 5012</li>
                  <li>AKG: K240 Studio Headphones</li>
                  <li>Samson: SR950 Studio Headphones</li>
              </ul>
          </div>
          <!-- /Modal Body -->
      </div>
      <!-- /Modal Content -->
  </div>
  <!-- /Modal Dialog -->
</div>
<!-- /Modal -->