<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title"> Admin Login</h5>
          <p>
          <form action="/admin" id="admin" {{this.body}} method="POST">
            <strong>Username</strong>:<input type="text" id="name"> {{this.body.username}}</input>
          </p>
          <p>
            <strong>Password:</strong></p><input type="email" id="email"> {{this.body.number}}</input>
            </p>
          </form>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>